<?xml version="1.0" encoding="utf-8" standalone="yes" ?> 
<applicationSettings>	

  <tituloSistema>MusicApp</tituloSistema>
  <THIS_VERSION>1</THIS_VERSION>

  <DBServer>appData.mssql.somee.com</DBServer>
  <DBName>appdata</DBName>
  <DBUser>ecabrera_SQLLogin_1</DBUser>
  <DBPass>6f6twn64hq</DBPass>
  
</applicationSettings>